In [1]:
import pandas as pd

### DataFrame from Dictionary

In [2]:
stud={}
stud["Roll_no"]=[1,2,3,4,5]
stud["Name"]=["alex","jae","max","joe","rose"]
stud["division"]=["A","B","A","B","A"]
stud["marks"]=[15,16,10,11,17]
stud

{'Roll_no': [1, 2, 3, 4, 5],
 'Name': ['alex', 'jae', 'max', 'joe', 'rose'],
 'division': ['A', 'B', 'A', 'B', 'A'],
 'marks': [15, 16, 10, 11, 17]}

In [3]:
df=pd.DataFrame(stud)
df

   Roll_no  Name division  marks
0        1  alex        A     15
1        2   jae        B     16
2        3   max        A     10
3        4   joe        B     11
4        5  rose        A     17

### DataFrame from empty DF

In [4]:
df=pd.DataFrame()

In [5]:
#dataframe["new col name"]= list or array or series of values
df=pd.DataFrame()
df["Roll_no"]=[1,2,3,4,5]
df["Name"]=["alex","jae","max","joe","rose"]
df["division"]=["A","B","A","B","A"]
df["marks"]=[15,16,10,11,17]
df

   Roll_no  Name division  marks
0        1  alex        A     15
1        2   jae        B     16
2        3   max        A     10
3        4   joe        B     11
4        5  rose        A     17

### Access the Dataframe

In [6]:
#df[column name]
df["Name"]

0    alex
1     jae
2     max
3     joe
4    rose
Name: Name, dtype: object

In [8]:
#df[[col1 , col2]]
df[["Name","division"]]

   Name division
0  alex        A
1   jae        B
2   max        A
3   joe        B
4  rose        A

In [9]:
df.Name

0    alex
1     jae
2     max
3     joe
4    rose
Name: Name, dtype: object

### DataFrame Properties

In [9]:
df.columns

Index(['Roll_no', 'Name', 'division', 'marks'], dtype='object')

In [10]:
df.shape

(5, 4)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Roll_no   5 non-null      int64
 1   Name      5 non-null      object
 2   division  5 non-null      object
 3   marks     5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

In [12]:
df.describe()

        Roll_no      marks
count  5.000000   5.000000
mean   3.000000  13.800000
std    1.581139   3.114482
min    1.000000  10.000000
25%    2.000000  11.000000
50%    3.000000  15.000000
75%    4.000000  16.000000
max    5.000000  17.000000

### Indexing (iloc & loc)

### iloc

In [13]:
#access first row
df.iloc[0]

Roll_no        1
Name        alex
division       A
marks         15
Name: 0, dtype: object

In [14]:
#access name of first row
df.iloc[0,1]

'alex'

In [15]:
#accessing data by passing list of index
df.iloc[[0,1],[0,1,2,3]]

   Roll_no  Name division  marks
0        1  alex        A     15
1        2   jae        B     16

In [16]:
#accessing data using slicing
df

   Roll_no  Name division  marks
0        1  alex        A     15
1        2   jae        B     16
2        3   max        A     10
3        4   joe        B     11
4        5  rose        A     17

### loc

In [17]:
# access first row
df.loc[0]

Roll_no        1
Name        alex
division       A
marks         15
Name: 0, dtype: object

In [11]:
#access first rows name and div
df.loc[0,["Name","division"]]

Name        alex
division       A
Name: 0, dtype: object

In [19]:
#name and div of first 3 records using slicing in row
df.loc[0:2,["Name","division"]]

   Name division
0  alex        A
1   jae        B
2   max        A

In [20]:
#name and div of first 3 records using list of index in row 
df.loc[[0,1,2],["Name","division"]]

   Name division
0  alex        A
1   jae        B
2   max        A

### CSV

#### Dataframe to csv

In [21]:
df.to_csv("data.csv",index=False)

#### Csv to Dataframe

In [22]:
df=pd.read_csv("data.csv")

In [23]:
df

   Roll_no  Name division  marks
0        1  alex        A     15
1        2   jae        B     16
2        3   max        A     10
3        4   joe        B     11
4        5  rose        A     17

In [12]:
help(df.to_csv)

Help on method to_csv in module pandas.core.generic:

to_csv(path_or_buf: Union[str, pathlib.Path, IO[~AnyStr], NoneType] = None, sep: str = ',', na_rep: str = '', float_format: Union[str, NoneType] = None, columns: Union[Sequence[Union[Hashable, NoneType]], NoneType] = None, header: Union[bool, List[str]] = True, index: bool = True, index_label: Union[bool, str, Sequence[Union[Hashable, NoneType]], NoneType] = None, mode: str = 'w', encoding: Union[str, NoneType] = None, compression: Union[str, Mapping[str, str], NoneType] = 'infer', quoting: Union[int, NoneType] = None, quotechar: str = '"', line_terminator: Union[str, NoneType] = None, chunksize: Union[int, NoneType] = None, date_format: Union[str, NoneType] = None, doublequote: bool = True, escapechar: Union[str, NoneType] = None, decimal: Union[str, NoneType] = '.') -> Union[str, NoneType] method of pandas.core.frame.DataFrame instance
    Write object to a comma-separated values (csv) file.

    .. versionchanged:: 0.24.0
        The order of arguments for Series was changed.

    Parameters
    ----------
    path_or_buf : str or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.  If a file object is passed it should be opened with
        `newline=''`, disabling universal newlines.

        .. versionchanged:: 0.24.0

           Was previously named "path" for Series.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.

        .. versionchanged:: 0.24.0

           Previously defaulted to False for Series.

    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'.
    compression : str or dict, default 'infer'
        If str, represents compression mode. If dict, value at 'method' is
        the compression mode. Compression mode may be any of the following
        possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
        compression mode is 'infer' and `path_or_buf` is path-like, then
        detect compression mode from the following extensions: '.gz',
        '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
        and mode is 'zip' or inferred as 'zip', other entries passed as
        additional compression options.

        .. versionchanged:: 1.0.0

           May now be a dict with key 'method' as compression mode
           and other entries as additional compression options if
           compression mode is 'zip'.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\n' for linux, '\r\n' for Windows, i.e.).

        .. versionchanged:: 0.24.0
    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

    Create 'out.zip' containing 'out.csv'

    >>> compression_opts = dict(method='zip',
    ...                         archive_name='out.csv')  # doctest: +SKIP
    >>> df.to_csv('out.zip', index=False,
    ...           compression=compression_opts)  # doctest: +SKIP